In [1]:
word = "python"
# 예상 결과: h
# 예상 결과: n

print(word[-3])
print(word[-1])

h
n

In [ ]:
numbers = [10, 20, 30, 40, 50]
# 예상 결과: 30
# 예상 결과: 10

print(numbers[2])
print(numbers[0])

In [4]:
text = "Python"
# 예상 결과: Pyt
# 예상 결과: thon

print(text[:3])
print(text[2:6])

Pyt
thon

In [18]:
data = [10, 20, 30, 40, 50]
# 예상 결과: [20, 30, 40]
# 예상 결과: [50, 40, 30, 20, 10]

print(data[1:4])
print(data[::-1])

[20, 30, 40]
[50, 40, 30, 20, 10]